body{
  box-sizing: border-box;
    background-image: url(/images/bg-hero-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 800px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
#top-layer{
    
    background-color:  hsl(193, 100%, 96%);
   
}

nav{
    /* margin-top: 30px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.logo{
    margin-left: 40px;
     margin-top: 30px;
    margin-right: auto;
}

.logo img{
    width: 150px;
}

.top-button{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    padding:8px 12px;
    width: 130px;
    border-radius: 15px;
    border: none;
    margin-right: 40px;
    background-color: white;
    cursor: pointer;
}

/*----------TOP INNER-------- */

.top-inner{
    display:flex;
    margin-top: 40px;
}

.top-inner h1, #mid-layer h2, #third-layer h2, #last-layer h2{
    font-family: 'Poppins', sans-serif;
}

.top-image img{
    width: 550px;
    margin-bottom: 40px;
}

.top-inner button{
    margin-left: 20px;
    border:none;
    padding: 12px 40px;
    border-radius: 20px; 
    color: white;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
}

.top-inner div{
    padding: 0 68px;
}

.top-inner h1{
    padding: 0 150px 0 0;
}

/* ------------------MIDDLE------------- */

#mid-layer{
    display: flex;
    margin: 140px  120px 0 120px;
    background-color:rgb(249, 249, 249);
    padding: 0 10px;
    border-radius: 12px;
    height: 380px;
}

#mid-layer h1{
    margin-bottom: 5px;
}
#mid-layer div{
    margin-top: 100px;
    padding: 0 70px;
}

.mid-image img{
    padding-bottom: 140px;
    width: 300px;
}

.top-inner p, #mid-layer p, #third-layer p, #last-layer p {
    color: rgb(149, 144, 144);
}
/* -----------------------third layer--------------- */

#third-layer{
    display: flex;
    margin: 30px 120px;
    background-color: rgb(249, 249, 249);
    padding: 0 10px;
    border-radius: 12px;
    height: 380px;
    
}

#third-layer h1{
    margin-bottom: 5px;
}
#third-layer div{
    margin-top: 100px;
    padding: 0 60px;
}

.third-image img{
    padding-bottom: 140px;
    width: 320px;
}



/* ---------------last layer------------------ */

#last-layer{
    display: flex;
    margin: 30px 120px;
    background-color: rgb(249, 249, 249);
    padding: 0 10px;
    border-radius: 12px;
    height: 380px;
    
}

#last-layer h1{
    margin-bottom: 5px;
}
#last-layer div{
    margin-top: 100px;
    padding: 0 65px;
}

.last-image img{
    padding-bottom: 140px;
    width: 320px;
}
/* ----------------Question section------------ */

.question{
    background-color: rgb(249, 249, 249);
    width: 500px;
    height: 150px;
  text-align: center;
  padding: 15px;
  position: absolute;
margin-top: 60px;
  left: 30%;
  border-radius: 12px;
}
.question button{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        margin-left: 20px;
        border:none;
        padding: 18px 60px;
        border-radius: 30px; 
        color: white;
        background-color: hsl(322, 98%, 64%);
        cursor: pointer;
}

/* -------------------Contact Footer------------------ */
#Contact{
    margin-top: 200px;
    background-color:  hsl(192, 100%, 9%);
    color: white; 
    display: flex;
    height: 480px;
}

.bottom-logo {
    width: 600px;
    padding-top: 120px;
    margin-left: 150px;
}

.bottom-logo img{
    padding-bottom: 20px;
    filter: brightness(0) invert(1);
}
.locate{
    padding: 0 120px;
}
.contact-1{
    display: flex;
}

.contact-1 img{
    padding-top: 18px;
    object-fit: contain;
}

.contact-1 p{
    padding-left: 15px;
}

#Contact ul {
    margin-top:180px ;
    list-style-type: none;
   margin-right: 10px;
   
}

#Contact ul li{
   cursor:pointer;
    margin: 10px;
}
.social {
    margin-top: 180px;
    margin-left: 90px;
}

.social img {
    margin: 5px;

}
.copyright{
   position: absolute;
   margin-top:440px;
   left: 70%;
}



/* ---------------------psuedo------------------ */
.top-button:hover{
    color: rgb(149, 147, 147);
}
.top-inner button:hover{
    background-color: hsl(321, 81%, 71%);
}
.question button:hover{
    background-color:hsl(321, 81%, 71%) ;
}

#Contact ul li:hover{
    text-decoration: underline;
}

.social img:hover{
    filter: invert(64%) sepia(42%) saturate(6615%) hue-rotate(294deg) brightness(100%) contrast(106%);
    cursor: pointer;
}



/* --------------------------------MEDIA QUERIES----------------- */

@media screen and (max-width:600px){
    body {
        background-image: url(/images/bg-hero-mobile.svg);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 10rem;
        font-size: 15px;
    }

    .logo{
        margin-left: 10px;
         margin-top: 30px;
    }

    .logo img{
        width: 120px;
    }

    .top-button{
        margin-right: 10px;
        width: 100px;
        padding: 7px 15px;
    }
    
    /* top inner */
    .top-inner{
        flex-direction: column;
    }

    .top-image img{
        width: 300px;
        
        margin: 40px auto 40px auto;
    }

    .top-inner div{
        padding: 0 15px;
        text-align: center;
    }
    
    .top-inner h1{
        padding:0;
        text-align: center;
    }
    
    /* -------------middle--------------- */
    #mid-layer{
        flex-direction: column-reverse;
         margin: 50px 7px;
         background-color:rgb(249, 249, 249);
        border-radius: 12px;
        height: 520px;  
    }

    #mid-layer h1{
        margin-bottom: 5px;
    }
    #mid-layer div{
        padding:0 12px 50px 12px;
        margin-top: 0;
        text-align: center;
    }
    /* #mid-layer div p{
        padding: 0 ;
        margin: 0;
    } */

    
    .mid-image img{
        padding-bottom: 0;
        align-items: center;
        width: 250px;
    } 


    /* -----------third layer------------------ */
    #third-layer{
        flex-direction: column;
         margin: 50px 7px;
         background-color:rgb(249, 249, 249);
        border-radius: 12px;
        height: 520px;  
    }

    #third-layer h1{
        margin-bottom: 5px;
    }
    #third-layer div{
        padding:30px 30px 0 30px;
        margin-top: 0;
        text-align: center;
    }
    /* #mid-layer div p{
        padding: 0 ;
        margin: 0;
    } */

    
    .third-image img{
        padding-top:50px;
        padding-bottom: 0;
        align-items: center;
        width: 280px;
    } 
/* -------------------last layer---------------------- */
    #last-layer{
        flex-direction: column-reverse;
         margin: 50px 7px;
        background-color:rgb(249, 249, 249);
        border-radius: 12px;
        height: 520px;  
    }

    #last-layer h1{
        margin-bottom: 5px;
    }
    #last-layer div{
        padding:0 35px 50px 35px;
        margin-top: 0;
        text-align: center;
    }
    .last-image img{
        padding-bottom: 0;
        align-items: center;
        width: 250px;
    } 
    /* ----------------Question section------------ */

.question{
    width: 300px;
    margin-top: 40px;
    left: 8%;
  
}
.question h3{
    padding: 0 3px;
}
.question button{
    margin-top: 10px;
}

    /* --------------Contact---------- */
    #Contact{
        flex-direction: column;
        height: 840px;
    }

    #Contact ul {
        margin-top:20px ;
        margin-right: 0;
    }

   #Contact ul li{
       padding-top: 0;
       margin-top: 0;
    }
      
    .contact-1 img{
          object-fit: contain;
    }
    .bottom-logo {
        width: 450px;
        padding-top: 120px;
        margin-left: 40px;
    }
    .locate{
        padding: 0 150px;
    
    }

    .social {
        margin-top: 50px;
        margin-left: 130px;
    }

    .copyright{
        position: absolute;
        margin-top:775px;
        left:12%;
     }

}